pkgbase = zsh-git-prompt
	pkgdesc = Informative git prompt for zsh
	pkgver = 0.6
	pkgrel = 1
	url = https://github.com/zsh-git-prompt/zsh-git-prompt
	install = zsh-git-prompt.install
	arch = any
	license = LicenseRef-MIT
	source = zsh-git-prompt-v0.6.tar.gz::https://github.com/zsh-git-prompt/zsh-git-prompt/archive/v0.6.tar.gz
	sha256sums = b28a8249797b92b25e3c3156dc99153548a5b0877d2e6aa20be15caa719dcea2

pkgname = zsh-git-prompt
	depends = zsh
	depends = python
